body {
  font-family: "Google Sans", Sans-Serif;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: var(--md-sys-color-background);
}

img {
  width: 20%;
  border-radius: 200px;
  box-shadow: 5px 5px 15px var(--md-sys-color-on-background);
}

h1 {
  letter-spacing: 1px;
  font-size: 4.5rem;
}

p {
  letter-spacing: 1px;
  font-size: 2.5rem;
}

.username {
  margin: 15px 0;
  color: var(--md-sys-color-on-background);
}

.paragraph1 {
  margin: 0;
  color: var(--md-sys-color-on-background);
}

.paragraph2,
.paragraph4 {
  margin-top: 5px;
  color: var(--md-sys-color-on-background);
}

.paragraph3 {
  margin-top: 20px;
  margin-bottom: 0;
  color: var(--md-sys-color-on-background);
}

a {
  text-decoration: none;
  color: var(--md-sys-color-primary);
}

a:hover {
  color: var(--md-sys-color-on-primary-container);
}

@media (max-width: 768px) {
  img {
    width: 40%;
  }
  
  h1 {
    font-size: 2.5rem;
  }
  
  p {
    font-size: 1.0rem;
  }
}
