body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Google Sans", Sans-Serif;
  background: var(--md-sys-color-background);
}

main {
  flex: 1;
  align-content: center;
}

#home {
  text-align: center;
}

footer {
  text-align: center;
  padding: 20px 0 5px 0;
  color: var(--md-sys-color-on-primary-container);
  background-color: var(--md-sys-color-primary-container);
}

footer p {
  font-size: 1.5rem;
}

img {
  width: 15%;
  border-radius: 200px;
  box-shadow: 5px 5px 15px var(--md-sys-color-on-background);
}

h1 {
  letter-spacing: 1px;
  font-size: 4.0rem;
}

p {
  letter-spacing: 1px;
  font-size: 2.0rem;
}

.username {
  margin: 15px 0;
  color: var(--md-sys-color-on-background);
}

.p1 {
  margin: 0;
  color: var(--md-sys-color-on-background);
}

.p2,
.p4 {
  margin-top: 5px;
  color: var(--md-sys-color-on-background);
}

.p3 {
  margin-top: 20px;
  margin-bottom: 0;
  color: var(--md-sys-color-on-background);
}

a {
  text-decoration: none;
  color: var(--md-sys-color-primary);
}

a:hover {
  color: var(--md-sys-color-on-primary-container);
}

.rvkernel-mi8937-changelog,
.rvkernel-mi845-changelog,
.rvkernel-alioth-changelog {
  margin-top: 80px;
  text-align: center;
  color: var(--md-sys-color-on-background);
}

#rvkernel-mi8937-changelog,
#rvkernel-mi845-changelog,
#rvkernel-alioth-changelog {
  margin: 80px;
  padding: 40px;
  border-radius: 25px;
  color: var(--md-sys-color-on-primary-container);
  background-color: var(--md-sys-color-primary-container);
  box-shadow: 10px 10px 0px var(--md-sys-color-primary);
}

#rvkernel-mi8937-changelog ul,
#rvkernel-mi845-changelog ul,
#rvkernel-alioth-changelog ul {
    list-style-type: disc;
}

#rvkernel-mi8937-changelog li,
#rvkernel-mi845-changelog li,
#rvkernel-alioth-changelog li {
  font-size: 2.0rem;
}

#rvkernel-mi8937-changelog h2,
#rvkernel-mi845-changelog h2,
#rvkernel-alioth-changelog h2 {
  font-size: 3.0rem;
}

@media (max-width: 768px) {
  img {
    width: 40%;
  }
  
  h1 {
    font-size: 2.5rem;
  }

  p,
  footer p,
  #rvkernel-mi8937-changelog li,
  #rvkernel-mi845-changelog li,
  #rvkernel-alioth-changelog li{
    font-size: 0.8rem;
  }

  .rvkernel-mi8937-changelog,
  .rvkernel-mi845-changelog,
  .rvkernel-alioth-changelog {
    font-size: 1.5rem;
    margin-top: 30px;
  }

  #rvkernel-mi8937-changelog,
  #rvkernel-mi845-changelog,
  #rvkernel-alioth-changelog {
    margin: 30px;
    padding: 20px;
    box-shadow: 5px 5px 0px var(--md-sys-color-primary);
  }

  #rvkernel-mi8937-changelog h2,
  #rvkernel-mi845-changelog h2,
  #rvkernel-alioth-changelog h2{
    font-size: 1.5rem;
  }
}
